<%- include('partials/header', { title: 'HomePage'}) %>

<body style="font-family: sans-serif;">
    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-size: 80px;" class="pl-5 pt-3 pb-3">Welcome to My Resto</h1>
                <p class="text-muted pl-5" style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, nobis! Ipsum omnis quia debitis qui quaerat ea facere consequuntur aperiam!</p>
                <button type="button" class="text-white btn pt-2 pb-2 pr-3 pl-3 ml-5" onclick="window.location.href='/resto'" style="background-color: #F29F05;">Restaurant</button>
            </div>
            <div class="col-md-6 position-relative">
                <img src="https://cdn.pixabay.com/photo/2016/07/28/19/53/food-1549260__340.jpg" alt="" class="p-3 w-100" style="border-radius: 35px;box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.75);">
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5" style="padding-top: 30px; padding-bottom:30px">
        <div class="group">
            <h1 class="text-center font-weight-bold" style="font-family: 'Noto Sans', sans-serif;
            font-family: 'Roboto Condensed', sans-serif;font-size: 50px;">EXTRAORDINARY TASTE <br> AND EXPERIENCE</h1>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mt-5">We Make Your Food Nicer</h1>
                <p style="font-size: 18px;" class="mt-4 mr-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis architecto, voluptatum pariatur iure temporibus eveniet doloremque adipisci saepe quis alias doloribus libero dolore repudiandae et velit maiores facilis officiis quos rem blanditiis eius iste tempore officia. Enim, tempora nesciunt! Deserunt nemo architecto earum rem. Saepe nihil corporis exercitationem officiis repellat?</p>
            </div>
            <div class="col-md-6">
                <img src="https://cdn.pixabay.com/photo/2017/05/10/19/41/grill-2301716__340.jpg" alt="" class="w-100 h-100" style="border-radius: 40px; box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.13);
                -webkit-box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.13);
                -moz-box-shadow: 22px 24px 44px 1px rgba(0,0,0,0.13);">
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 150px !important; margin-bottom: 150px !important">
        <div class="row">
            <div class="col-md-6">
                <img src="https://cdn.pixabay.com/photo/2016/03/05/19/22/bar-1238379__340.jpg" alt="" class="w-100 h-100" style="border-radius: 45px; box-shadow: -38px 24px 44px 1px rgba(0,0,0,0.13);
                -webkit-box-shadow: -38px 24px 44px 1px rgba(0,0,0,0.13);
                -moz-box-shadow: -38px 24px 44px 1px rgba(0,0,0,0.13);">
            </div>
            <div class="col-md-6">
                <h1 class="mt-3 pl-2">Book Your Place now!</h1>
                <p style="font-size: 18px;" class="mt-4 pl-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore in ex quod accusantium adipisci dolorem temporibus aperiam voluptatum nam tempore ullam cumque impedit veritatis illum sint et consectetur nobis suscipit, nihil error. Nulla possimus suscipit tempora animi debitis quis nostrum maxime ducimus eligendi. Error praesentium enim animi impedit, doloribus sunt!</p>
                <button onclick="window.location.href='#nav'" class="btn pt-2 pb-2 pl-3 pr-3 text-white mt-4 ml-2" style="border-radius: 5px; background-color: #F29F05;">Book now!</button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h1 class="text-center mb-5" style="font-weight: 600;">OUR PLACES</h1>
        <div class="d-flex justify-content-around">
            <div class="card" style="width: 20rem; border-radius: 25px !important;box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -webkit-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -moz-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784__340.jpg" alt="Card image cap" style="border-radius: 25px 25px 0px 0px !important;">
                <div class="card-body">
                    <p class="card-text text-center">Industrials modern arsitecture design.</p>
                </div>
            </div>
            <div class="card" style="width: 25rem; border-radius: 25px !important;box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -webkit-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -moz-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/10/12/15/25/bar-984527__340.jpg" alt="Card image cap" style="border-radius: 25px 25px 0px 0px !important;">
                <div class="card-body">
                    <p class="card-text text-center">Cozy places to refresh your day.</p>
                </div>
            </div>
            <div class="card" style="width: 20rem; border-radius: 25px !important;box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -webkit-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);
            -moz-box-shadow: -2px 6px 44px 1px rgba(0,0,0,0.13);">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/03/26/09/54/restaurant-690569__340.jpg" alt="Card image cap" style="border-radius: 25px 25px 0px 0px !important;">
                <div class="card-body">
                    <p class="card-text text-center">Hangout with your friends and fill the places.</p>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer') %>