<%- include('../partials/header', { title: 'Register'}) %>

<body style="background-color: #F2F2F2;">
    <div class="container w-50 m-auto p-5" style="background-color: #fff;border-radius: 35px;">
        <h1 style="color: rgb(61, 58, 58);font-size: 35px;font-family: 'Roboto Condensed', sans-serif;color: #D93D04;" class="text-center">Register</h1>
        <form method="POST" action="/user/register" >
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name" placeholder="e.g: John Doe">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name="password" placeholder="e.g: pasWord123">
            </div>
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select class="form-control" name="role">
                    <option value="Manager">Manager</option>
                    <option value="Employee">Employee</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Restoran</label>
                <select class="form-control" name="RestoranId">
                    <% data.forEach(resto => { %>
                        <option value="<%=resto.id%>"><%=resto.name%></option>
                    <% })%>
                </select><br>
            </div>
            <input type="submit" class="btn text-white pr-4 pl-4" style="border-radius: 5px; background-color: #F29F05;"></input>
            <a type="button" class="btn pl-3 pr-3 font-weight-bold" href="/resto" style="color: rgb(240, 18, 18); border: 2px solid rgb(240, 18, 18);">Cancel</a>
        </form>
    </div>
</body>

<%- include('../partials/footer') %>